APP_ENV=dev
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=db
DB_PORT=3306
DB_NAME=lovelywedding
DB_USER=app
DB_PASS=changeme

MAILER_DSN=smtp://localhost:1025

NEWSLETTER_FROM=noreply@lovelywedding.fr
GUESTBOOK_NOTIFY_TO=admin@lovelywedding.fr
