@import "livre_dor.css";

.form_infos{
margin-left:100px;
margin-top:100px;
}

.form_message{
    margin-left: 440px;
    position: absolute;
    top: 10px;
}

.form_livre h1{
font-size:20px;
margin-bottom:0;
}

.form_button{
margin-left:150px;
position:absolute;
}

.form_message .submit{
float:right;
}

#previewImage{
	max-height: 150px;
	margin-top: 20px;
}

.description{
	font-size:0.7em;
	color:grey;
}

.message{
	margin:10px auto;
	border:none;
}

.error{
	margin:20px auto;
	width:400px;
}
.error li{
    font-family: "courier new",monospace;
    list-style-image: url("../img/error_20.png");
    margin-bottom: 0;
    margin-left: -15px;
    text-align: left;
}

/* Fancy box css */

/* error message */
.error_image{
margin:20px auto;
width:200px;
height:200px;
}

.error_image img{
width:200px;
}

/* success message */
#little_menu_items h3{
	margin:0;
	position:absolute;
	bottom:0;
	width:100%;
	text-align:center;
}
#little_menu_items{
	margin:0 auto;
	width:500px;
}
#little_menu_items a{
text-align:center;
}

#little_menu_items ul{
	list-style-type: none;
	text-align:center;
}
#little_menu_items li{
	float:left;
	display:block;
	height:150px;
	line-height:3em;
}
#little_menu_items img{
	width:100px;
}

.remerciements{
	margin:10px auto;
	width:400px;
	text-align:center;
}

.toda{
	margin-top:10px;
	margin-bottom:50px;
}
.item{
	position:relative;
	height:100%;
}
.merci_message{
	margin-bottom:50px;
}